{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-fluid g-0">
    <div class="row">
        <div class="col-md-4 bg-color-conferences section-column">
            <div class="row mx-auto">
                <div class="col-12">
                    <h3 class="section-heading uppercase">
                        Groups and Societies
                    </h3>
                </div>
                <div class="col-12 mb-3">
                    <h4><a href="https://www.linkedin.com/groups/8571393/" target="_blank" rel="noopener"> All Things
                            JavaScript</a></h4>
                </div>
                <div class="col-12 mb-3">
                    <h4><a href="https://www.linkedin.com/groups/7039829/" target="_blank" rel="noopener">JavaScript
                            Developer</a></h4>
                </div>
                <div class="col-12 mb-3">
                    <h4><a href="https://www.linkedin.com/groups/25827/" target="_blank" rel="noopener">Python
                            Developers Community</a></h4>
                </div>
                <div class="col-12 mb-3">
                    <h4><a href="https://www.linkedin.com/groups/54723/" target="_blank" rel="noopener">Developers</a>
                    </h4>
                </div>
                <div class="col-12 mb-3">
                    <h4><a href="https://www.linkedin.com/groups/50788/" target="_blank" rel="noopener">Django</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-color-groups ">
            <div class="row mx-auto">
                <div class="col">
                    <h3 class="section-heading uppercase">Interests</h3>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col-sm-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 d-none d-md-block">
                            <i class="interest-icon fa-solid fa-shield-halved" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-12 col-md-10 mb-3">
                            <h4 class="interest-heading uppercase d-none d-md-block">Defensive Programming</h4>
                            <h4 class="interest-heading uppercase d-sm-block d-md-none">
                                <div class="text-center">
                                    <div>
                                        <i class="interest-icon fa-solid fa-shield-halved" aria-hidden="true"></i>
                                    </div>
                                    Defensive Programming
                                </div>
                            </h4>
                            <hr>
                            <p class="text-justify">
                                We live in a world that's becoming increasingly tech orientated and there are no
                                shortage of criminals
                                willing to take advantage of our use in technology. I am highly interested in becoming
                                more adept to
                                these issues.
                            </p>
                            <p class="text-justify">As a step in this direction I plan on acquiring more industry
                                certifications. I'm a perfectionist and I just want to make sure that what ever I do
                                that I do it right and with a sound knowledge base.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="row mx-auto">
                        <div class="col-md-2 d-none d-md-block">
                            <i class="interest-icon fa-solid fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-12 col-md-10 mb-3">
                            <h4 class="interest-heading uppercase d-none d-md-block">Advanced Programming</h4>
                            <h4 class="interest-heading uppercase d-sm-block d-md-none">
                                <div class="text-center">
                                    <div>
                                        <i class="interest-icon fa-solid fa-code" aria-hidden="true"></i>
                                    </div>
                                    Advanced Programming
                                </div>
                            </h4>
                            <hr>
                            <p class="text-justify">
                                I fell in love with programming when I was building basic terminal games with an older
                                programming language called C++. It inspired me to pursue a qualification in the
                                industry.</p>
                            <p class="text-justify">I hope to set aside time next year to learn more and participate in
                                high paced hackathons. These hackathons usually only last a few hours so using fast
                                languages would be advantageous.
                            </p>
                            <p class="text-justify">
                                I'm interested in building a Minecraft like game in the near future so I can experiment
                                with software graphics. There was an interesting problem years ago for building open
                                world like games and the creator of Minecraft solved it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="row mx-auto">
                        <div class="col-md-2 d-none d-md-block">
                            <i class="interest-icon fa-solid fa-graduation-cap" aria-hidden="true"></i></i>
                        </div>
                        <div class="col-sm-12 col-md-10 mb-3">
                            <h4 class="interest-heading uppercase d-none d-md-block">Learning & Growing</h4>
                            <h4 class="interest-heading uppercase d-sm-block d-md-none">
                                <div class="text-center">
                                    <div>
                                        <i class="interest-icon fa-solid fa-graduation-cap" aria-hidden="true"></i></i>
                                    </div>
                                    Learning & Growing
                                </div>
                            </h4>
                            <hr>
                            <p class="text-justify">
                                School wasn't a great experience for me when I was there & there was a point at which I
                                believed the education route wasn't for me. I didn't have issues studying, I had
                                nowhere to put my soul.
                            </p>
                            <p class="text-justify">However, life gives us lemons. I built up confidence and had a
                                better sense of self-worth as time moved on & started focusing on an area I discovered
                                called the Computer Science Field. I recently completed a qualification with Code Institute and
                                achieved a Distinction grade.
                            </p>
                            <p class="text-justify"><a
                                    href="https://www.credential.net/41a0f6e1-cce6-4220-97da-fc142b338e8c#gs.r4fybu" class="text-decoration-none text-info">QQI
                                    Level 6 in Full Stack Software Development</a></p>
                            <p class="text-justify">I discovered that I have an aptitude for programming and will
                                likely pursue this area at the post-graduate level. I have my eyes on a QQI level 7 and
                                hope to complete my bachelors through this part-time education route in combination
                                with a role in the industry.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="row mx-auto">
                        <div class="col-md-2 d-none d-md-block">
                            <i class="interest-icon fa-solid fa-book" aria-hidden="true"></i>
                            <i class="interest-icon fa-solid fa-gamepad" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-12 col-md-10 mb-3">
                            <h4 class="interest-heading uppercase d-none d-md-block">Reading & Gaming</h4>
                            <h4 class="interest-heading uppercase d-sm-block d-md-none">
                                <div class="text-center">
                                    <div>
                                        <i class="interest-icon fa-solid fa-book" aria-hidden="true"></i>
                                        <i class="interest-icon fa-solid fa-gamepad" aria-hidden="true"></i>
                                    </div>
                                    Reading & Gaming
                                </div>
                            </h4>
                            <hr>
                            <p class="text-justify">
                                I'm a very big Steven King fan and I'm currently reading the Dark Tower series. It's
                                like a mix of Lord of the Rings and those old westerns you'd see on tv. It's cool.
                            </p>
                            <p class="text-justify">
                                You won't find a bigger Fallout fan than me. I've burned a sickening amount of my life
                                hours on Fallout. I promised my partner I'd calm down playing it and I only put in an
                                hour a week with other life commitments. Live and let live.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="row mx-auto">
                        <div class="col-md-2 d-none d-md-block">
                            <i class="interest-icon fa-solid fa-chart-line" aria-hidden="true"></i>
                            <i class="interest-icon fa-solid fa-bitcoin-sign" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <h4 class="interest-heading uppercase d-none d-md-block">Investing & Crypto</h4>
                            <h4 class="interest-heading uppercase d-sm-block d-md-none">
                                <div class="text-center">
                                    <div>
                                        <i class="interest-icon fa-solid fa-chart-line" aria-hidden="true"></i>
                                        <i class="interest-icon fa-solid fa-bitcoin-sign" aria-hidden="true"></i>
                                    </div>
                                    Investing & Crypto
                                </div>
                            </h4>
                            <hr>
                            <p class="text-justify">
                                I invested a small amount of money into Bitcoin a few years back and managed to double
                                my money. It was a great benefit to me when I started renting an apartment. It has
                                piqued my interest in investing.

                            </p>
                            <p class="text-justify">
                                With the current economic climate, I would be more conservative in my choices to invest
                                & I believe the best investments these days are in green energy & chip manufacturers.
                            </p>
                            <p class="text-justify">During Covid19 I managed to make a bit of money due to the
                                inflating prices of graphics cards & I firmly believe with the added stress of the tech
                                sector chip manufacturers will be a sound investment. I hope to eventually build a
                                reasonable tech portfolio when it becomes more feasible.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{% endblock content %}