<footer class="container-fluid">
    <div id="footer-details" class="row">
        <div class="col-sm-4">
            <h5 class="uppercase general-sub">About</h5>
            <p class="inline-block">
                Full Stack Software Developer. Skilled in everything from HTML to Heroku. The capacity for
                structural and
                design thinking. Up to date using the latest tools and technologies.
            </p>
        </div>
        <div class="col-sm-4">
            <h5 class="uppercase general-sub">Download</h5>
            <p class="inline-block">
                Need a printable version of my CV? Download it here.
                <a href="assets/cv/kristian-colville-cv.pdf" target="_blank" class="cv-pdf">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span class="sr-only">Download link.</span>
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h5 class="uppercase general-sub">Social</h5>
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" href="https://github.com/KristianColville1">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <span class="sr-only">GitHub</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.linkedin.com/in/kristian-colville-711727133/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span class="sr-only">Linkedin</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>