{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'projects/css/projects.css' %}" type="text/css">
{% endblock extra_css %}
{% block content %}
<section class="container-fluid g-0">
    <div class="row">
        <div class="col-md-4 bg-color-github section-column">
            <div class="documentation text-dark">
                <h3 class="history-heading uppercase text-dark">
                    Documentation
                </h3>
                <h5>My Portfolio</h5>
                <ul>
                    <li>
                        <p><a href="https://razanoodles.kcolville.ie" target="_blank" rel="noopener">Raza Noodles
                                <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                    <li>
                        <p><a href="https://github.com/KristianColville1/sudoku-master" target="_blank"
                                rel="noopener">Sudoku
                                Master <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                    <li>
                        <p><a href="https://github.com/KristianColville1/rapid-silver" target="_blank"
                                rel="noopener">Rapid Silver
                                <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                    <li>
                        <p><a href="https://github.com/KristianColville1/daily-sync" target="_blank"
                                rel="noopener">Daily Sync <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                </ul>
                <h5>Hackathons</h5>
                <ul>
                    <li>
                        <p><a href="https://github.com/KristianColville1/team-5-january-hackathon/tree/main"
                                target="_blank" rel="noopener">Clover <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">Portfolio Projects</h3>
                    <hr>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-xs-12 col-md-4">
                    <div class="img-container pp1 mt-5"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Raza Noodles</h1>
                    <hr>
                    <p>My first project written in pure <span class="font-weight-bold">HTML</span> and <span
                            class="font-weight-bold">CSS</span>.</p>
                    <p>
                        I enjoy Asian food and I was inspired to build a project that could compete with</p>
                    <p>
                        Created during my time at Code Institute where I acquired my qualification in software
                        development.
                        I put in huge amount of time into it and achieved a good grade on this project. As part of
                        my qualification we were required to build a
                        full-stack application at the end and I built this project with that idea in mind.</p>
                    <p>Now I wouldn't call it my best work but I'm proud of what I accomplished on this project, I
                        became familiar with frameworks and using a development environment.</p>
                </div>
            </div>
            <div class="row w-100 mt-4">
                <div class="col-xs-12 col-md-8 mt-4">
                    <h1 class="text-center">Sudoku Master</h1>
                    <hr>
                    <p>My first project written in pure <span class="font-weight-bold">HTML</span> and <span
                            class="font-weight-bold">CSS</span>.</p>
                    <p>
                        I enjoy Asian food and I was inspired to build this project because of this. </p>
                    <p>
                        Created during my time at Code Institute where I acquired my qualification in software
                        development.
                        I put in huge amount of time into it and achieved a good grade on this project. As part of
                        my qualification we were required to build a
                        full-stack application at the end and I built this project with that idea in mind.</p>
                    <p>Now I wouldn't call it my best work but I'm proud of what I accomplished on this project, I
                        became familiar with frameworks and using a development environment.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="img-container pp2 mt-5"></div>
                </div>
            </div>
            <div class="row w-100 mt-5">
                <div class="col-xs-12 col-md-4">
                    <div class="img-container pp1 mt-5"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Raza Noodles</h1>
                    <hr>
                    <p>My first project written in pure <span class="font-weight-bold">HTML</span> and <span
                            class="font-weight-bold">CSS</span>.</p>
                    <p>
                        Created during my time at Code Institute where I acquired my qualification in software
                        development.
                        I put in huge amount of time into it and achieved a good grade on this project. As part of
                        my qualification we were required to build a
                        full-stack application at the end and I built this project with that idea in mind.</p>
                    <p>Now I wouldn't call it my best work but I'm proud of what I accomplished on this project, I
                        became familiar with frameworks and using a development environment.</p>
                </div>
            </div>
            <div class="row w-100 mt-4">
                <div class="col-xs-12 col-md-8 mt-4">
                    <div class="img-container pp1 mt-5"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Raza Noodles</h1>
                    <hr>
                    <p>My first project written in pure <span class="font-weight-bold">HTML</span> and <span
                            class="font-weight-bold">CSS</span>.</p>
                    <p>
                        Created during my time at Code Institute where I acquired my qualification in software
                        development.
                        I put in huge amount of time into it and achieved a good grade on this project. As part of
                        my qualification we were required to build a
                        full-stack application at the end and I built this project with that idea in mind.</p>
                    <p>Now I wouldn't call it my best work but I'm proud of what I accomplished on this project, I
                        became familiar with frameworks and using a development environment.</p>
                </div>
            </div>
            <div class="row w-100 mt-4">
                <div class="col-xs-12 col-md-8 mt-4">
                    <div class="img-container pp1 mt-5"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Raza Noodles</h1>
                    <hr>
                    <p>My first project written in pure <span class="font-weight-bold">HTML</span> and <span
                            class="font-weight-bold">CSS</span>.</p>
                    <p>
                        Created during my time at Code Institute where I acquired my qualification in software
                        development.
                        I put in huge amount of time into it and achieved a good grade on this project. As part of
                        my qualification we were required to build a
                        full-stack application at the end and I built this project with that idea in mind.</p>
                    <p>Now I wouldn't call it my best work but I'm proud of what I accomplished on this project, I
                        became familiar with frameworks and using a development environment.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}