{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'projects/css/projects.css' %}" type="text/css">
{% endblock extra_css %}
{% block content %}
<section class="container-fluid g-0">
    <div class="row">
        <div class="col-md-4 bg-color-github section-column">
            <div class="documentation text-dark mx-3">
                <h3 class="history-heading uppercase text-dark">
                    Documentation
                </h3>
                <h5>My Portfolio</h5>
                <ul>
                    <li>
                        <p><a href="https://github.com/KristianColville1/raza-noodles" target="_blank"
                                rel="noopener">Raza Noodles
                                <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                    <li>
                        <p><a href="https://github.com/KristianColville1/sudoku-master" target="_blank"
                                rel="noopener">Sudoku
                                Master <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                    <li>
                        <p><a href="https://github.com/KristianColville1/rapid-silver" target="_blank"
                                rel="noopener">Rapid Silver
                                <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                    <li>
                        <p><a href="https://github.com/KristianColville1/daily-sync" target="_blank"
                                rel="noopener">Daily Sync <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                    <li>
                        <p><a href="https://github.com/KristianColville1/fine-chop" target="_blank"
                                rel="noopener">Fine Chop<i
                                    class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                </ul>
                <h5>Hackathons</h5>
                <ul>
                    <li>
                        <p><a href="https://github.com/KristianColville1/team-5-january-hackathon/tree/main"
                                target="_blank" rel="noopener">Clover <i class="fa-solid fa-arrow-pointer"></i></a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row mx-auto">
                <div class="col">
                    <h3 class="section-heading uppercase">Portfolio Projects</h3>
                    <hr>
                </div>
            </div>
            <div class="row w-100 mx-2">
                <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                        <div class="img-container pp1 mt-2"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Raza Noodles</h1>
                    <hr>
                    <p>Built with just <span class="fw-bold">HTML</span> & <span class="fw-bold">CSS</span>.</p>
                    <p>
                        I enjoy Asian food and I was inspired to build a project that could compete with</p>
                    <p>
                        Created during my time at Code Institute.
                        I put in huge amount of time into it and achieved a good grade on this first project. As part of
                        my qualification we were required to build a
                        full-stack application for the fifth project and I built this project with that idea in mind.
                    </p>
                    <p>Now I wouldn't call it my best work but I'm proud of what I accomplished on this project, I
                        became familiar with frameworks and using a development environment.</p>
                </div>
            </div>
            <div class="row w-100 mx-2 mt-4">
                <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                    <div class="img-container pp2 mt-2"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Sudoku Master</h1>
                    <hr>
                    <p>Built using <span class="fw-bold">HTML</span>, <span class="fw-bold">CSS</span> &
                        <span class="fw-bold">JavaScript</span>.</p>
                    <p>
                        I loved building this sudoku game. I had been watching Uncle Bob on Youtube talk about writing
                        functions
                        and I wrote huge amounts of JavaScript for this one based on writing prose.</p>
                    <p>
                        Created during my time at Code Institute. I've received huge compliments on the functionality
                        and originality of the code base.</p>
                    <p>This project implemented Advanced JavaScript in terms of iteration through loops.</p>
                </div>
            </div>
            <div class="row w-100 mx-2 mt-4">
                <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                    <div class="img-container pp3 mt-2"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Rapid Silver</h1>
                    <hr>
                    <p>Build with just <span class="fw-bold">Python</span>.</p>
                    <p>I also some styling to the front-end for more visual aesthetics.</p>
                    <p>We were given a pre-built template that allowed us to mimic working with a terminal.</p>
                    <p>My original idea collapsed on this project and I had very little time to rectify it but I managed
                        to put the head down and
                        work hard and learn some advanced CRUD functionality that got me the highest grade attainable.
                        I added an authentication system and hooked it up to MongoDB (database) to store information.
                    </p>
                </div>
            </div>
            <div class="row w-100 mx-2 mt-4">
                <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                    <div class="img-container pp4 mt-2"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Daily Sync</h1>
                    <hr>
                    <p>My first full experience using the full stack toolkit. Built with <span
                            class="fw-bold">HTML</span>, <span class="fw-bold">CSS</span>, <span
                            class="fw-bold">JavaScript</span>, <span class="fw-bold">PostgreSQL</span> & <span
                            class="fw-bold">Python</span>
                    </p>
                    <p>It was implemented with the <span class="fw-bold">Django Framework (Python).</span></p>
                    <p>The experience building this project was amazing. I got to see how the front-end, back-end and a
                        database all work together.</p>
                    <p>It definitely helped me develop my back-end skills further. I got to implement a huge amount of
                        CRUD functionality.</p>
                    <p>Other skills learned include working and using cache memory from the application. Some small
                        dynamic functionality was also experimented with for building user chat rooms.</p>
                </div>
            </div>
            <div class="row w-100 mx-2 mt-4">
                <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                    <div class="img-container pp5 mt-2"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1 class="text-center">Fine Chop</h1>
                    <hr>
                    <p>This was my last project with Code Institute and it also used the full stack toolkit.</p>
                    <p>It absolutely tested my patience and project management skills.</p>
                    <p>I had difficulty fixing a bug for static files and it impacted the amount of time I got to spend
                        on the rest of the project.</p>
                    <p>However, I was grateful for the experience and lessons learned. I just started working within the
                        industry at this point. After completing the project I can appreciate everything I learned and
                        how it has helped immensely in my professional life.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}