{% extends "base.html" %}
{% load static %}

{% block content%}
<section class="container-fluid g-0 m-0">
      <div class="row bg-color-contact">
          <div class="col-12">
              <h3 class="contact-heading uppercase text-center">Got a project in mind?</h3>
              <h5 class="uppercase text-center">Let's work together</h5>
          </div>
          <div class="center-form">
              <form id="contact-form" method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ contact_form|crispy }}
                <button type="submit" class="btn btn-ouline-primary float-end">Send</button>
              </form>
          </div>
      </div>
  </section>
{% endblock content %}